# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc

# Logs
storage/logs/*.log

# Backups
storage/backups/*
!storage/backups/.gitkeep

# Exportacoes
storage/exports/*
!storage/exports/.gitkeep